*{
    box-sizing: border-box; 
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    margin:0;
}

a{ font-size: 1.3em; }
h1{ font-size: 1.4em; color: white;}
h2{ font-size: 1.1em; color: white}
h3{ font-size: 1.0em; color: white}
h4{ font-size: 0.8em; color: white; }
h5{ font-size: 0.7em; color: white;}
p{ font-size: 1.6em; color: white; font-weight: bold;}
ul{ list-style: none;}

button{
    font-size: 0.5em;
    font-weight: bold;
    padding: 8px 8px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    background-color: black;
}

/* cuando paso el cursor por encima
   del boton */

button:hover{
    background-color: rgb(255, 255, 250);
    box-shadow: 1px 1px 15px rgb(255, 255, 255);
    color: black;
}

.container{
    max-width: 1400px; /* Fix */
    margin: auto;
}

header{
    background-color: rgb(10, 10, 10);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    margin-bottom: -30px;
    margin-top: -10px;
    
}

header .container{
    display: flex; /* Para centrar */
    flex-direction: column; /* Para Que se mueva al costado cuando estoy en la version web el nav */
    align-items: center; /* Alinea los items en el centro */
}

.circular-logo img{
    width: 120px;
    height: 120px;
    margin-top: 40px;
    border-radius: 300px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    color: white;
}


nav
{
    margin-top: -39px;
}

nav nav_link
{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 15px rgb(255, 255, 255);
    color: white;
    background-color: black;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    background-color: rgb(255, 255, 250);
    box-shadow: 1px 1px 8px rgb(255, 255, 255);
    color: black;
}

footer{
    text-anchor: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    background-color: rgb(0, 0, 3);   
    box-shadow: 1px 1px 8px rgb(255, 255, 255);
}

.social-media-brayanjsr img{
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    margin-block-end: 10px;
}

.social-media-brayanjsr img:hover {
    background-color: rgb(255, 255, 255);
    opacity: 1.0;
    box-shadow: 1px 1px 8px rgb(255, 255, 255);
}