*{
    /* Esta propiedad hace que los elementos no tengan
       mas tamaño del que yo le di.
    */
    box-sizing: border-box; 
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    margin:0;
}


/* 
    em: tamanio relativo a la fuente que use.
*/

h1{ font-size: 3.0em; color: white;}
h2{ font-size: 2.2em;}
h3{ font-size: 1.7em;}
p{ font-size: 1em;}
ul{ list-style: none;}

button{
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    color: white;
    background-color: black;
}

/* cuando paso el cursor por encima
   del boton */

button:hover{
    background-color: rgb(255, 255, 250);
    color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: rgb(10, 10, 10);
}

header .logo{
    margin: 0;
}

header .container{
    padding: 25px 30px;
}